.flip-card {
  background-color: transparent;
  width: auto;
  height: 51rem;

  border-radius: 5px;

  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  @mixin atTabPortr {
    min-width: 40rem;
    height: 77rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $mainWhite;
    &:not(last-child){
      margin-bottom: 7rem;
    }
  }

  @mixin atPhone {
   &:not(last-child){
      margin-bottom: 15rem;
    } 
  }


}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
  @mixin atTabPortr {
    transform: none;
  }
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Media query used to9 Disable flip on mobile devices */
  @mixin atNonHoverDevice {
    position: static;
    height: auto;
  }
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  /* Media query used to Disable flip on mobile devices */
  @mixin atNonHoverDevice {
    transform: none;
    position:relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  
}