.page-section {
	position: relative;
	padding:1.2rem 0;
	overflow-x: hidden;
	margin-top: 5rem;
	color: $darkGray;

	&__title {
		font-size: 3.7rem;
		width: 100%;
  		margin: auto;
		text-align: center;
		text-transform: uppercase;
  		background: linear-gradient(to right, $lightGreen, $darkGreen);
  		background-clip: text;
  		color: rgba(0,0,0,0);
  		margin-top: 3rem;
  		margin-bottom: 6rem;
  		transition: all .3s ease-out;
  		width: 100%;
  		letter-spacing: 0.2rem;
  		&--left {
  			margin-left: 0;
  			text-align: left;
  		}

  		&:hover{
  			transform: skew(3deg, 3deg);
  			text-shadow: 3px 3px 10px rgba(86,57,73,0.26);
  			
  		}

  		@mixin atPhone {
  			font-size: 6rem;
  		}
	}

	&__sub-title {
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 2rem;
		text-transform: uppercase;

	}

	&__text {
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2.5rem;
		&--columns {
			column-count: 2;
			column-rule: 1px solid $darkGray;
			column-gap: 4rem;
		}
	}


	&--gray {
		background-color: $lightGray;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}


	&--testimonials {
		background-color: #CBD9E6;
		padding: 1.5rem 0;
	}
}