.story-item {
	background-color: rgba($mainWhite, 0.6);
	width: 60%;
	margin: 0 auto;
	padding: 5rem;
	transform: skewX(-15deg);
	
	&:not(:last-child) {
		margin-bottom: 8rem;
	}

	/* this class is used to skew back the content */
	&__container { 
		transform: skewX(15deg);
	}
	&__picture {
		width:160px; height: 160px;
		position: relative;
		float: left;
		border-radius: 50%;
			  margin-right:6rem;
	  shape-outside:circle();
	  overflow: hidden;
	}

	&__img {
	  width: 100%; 
	  height: 100%;
	  background-size: 200%;
	  background-position: -80px -30px;
	  transition: all 0.5s ease-out;
	  &--bg1 {
	  	background-image: linear-gradient(
				to right bottom, 
				   rgba($mainGray,0), 
				   rgba($mainGray,0)),
				url(assets/images/nat-8.jpg);
		background-blend-mode: screen;
	  }
	  &--bg2 {
			background-image: linear-gradient(
			to right bottom, 
			   rgba($mainGray,0), 
			   rgba($mainGray,0)),
			url(assets/images/nat-9.jpg);
		}
	}

	&__name {
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
		color: $mainWhite;
		font-size: 2rem;
		text-transform: uppercase;
		text-align: center;
		line-height: 3rem;
		opacity: 0;

	}

	&:hover {
		.story-item__img {
			background-size: 160%;
			background-position: -50px -10px;
			
			&--bg {
				filter: blur(2px);
			}

			&--bg1 {
				background-image: linear-gradient(
				to right bottom, 
				   rgba($mainGray,0.1), 
				   rgba($mainGray,0.1)),
				url(assets/images/nat-8.jpg);
				
			}
			&--bg2 {
				background-image: linear-gradient(
				to right bottom, 
				   rgba($mainGray,0.1), 
				   rgba($mainGray,0.1)),
				url(assets/images/nat-9.jpg);
			}
		}
		.story-item__name {
			animation: slideInFromBottom2 0.5s ease-out;
			animation-fill-mode: forwards;
		}

	}


}
