.tour-item {
	background-color: #fff;
	position: relative;
	height: 52rem;
	&__header {
		position: relative;
		padding-top: 26.6rem;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
	}
	&__title {
		position: absolute;
		color: #fff;
		
		font-size: 3rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		padding:1rem;
		right: 2.5rem;
 

		&--1 {
			background: rgba($darkGreen, 0.9);
			top: 12rem;
		}
		&--2 {
			background: rgba($mainGreen, 0.6);
			top: 16.5rem;
		}
	}

	&__features {
		text-align: center;
		list-style: none;
		margin:0;
		padding: 0;
		
		li {
			font-size: 1.5rem;
			padding: 1.4rem 0;
			border-bottom: 1px solid $lightGray;
			width: 65%;
			margin: auto;
			color: $darkGray;

		}
	}
}

.tour-bg-1 {
	background-image: linear-gradient(
				to right bottom, 
				   rgba($lightGreen, 0.8), 
				   rgba($darkGreen, 0.8)),
				url(assets/images/nat-5.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0px 0px,
							-5px 0px;
}