.about {
	
	&__photos {
		position: relative;
		

		@mixin clearfix;
	}
	&__image {
		display:block;
		box-shadow: 0px 24px 71px -19px rgba(74,74,74,1);
		transition: all 0.3s ease-out;
		&__1 {
			position: relative;
			top: -2rem;
			left: 0rem;
			z-index: 1;
		}
		&__2 {
			position: relative;
			/*transform: translate(95%,-80%);*/
			top: -16rem;
			left: 24rem;
			z-index: 2;
		}
		&__3 {
			position: relative;
			z-index: 3;
			top: -30rem;
			left: 10rem;
		}
		&:hover {
			z-index: 10;
			padding: 2rem;
			border: 1.5rem solid $mainGreen;
		}
	}
}