.row {
	background-color: $lightGray;
	max-width: $gridWidth;
	margin: 0 auto;
	
	&--no-bg {
		background-color: transparent;
	}

	&:not(:last-child){
		margin-bottom: $gutterVertical;
	}

	[class^="col-"] {
		padding: 10px 0;
		background-color: $lightRed;
		float: left;
		&:not(:last-child){
			margin-right: $gutterHorizontal;	
		}
	}

	.col--relative {
		position: relative;
	}

	.col-1-of-2 {
		width: calc((100% - $gutterHorizontal)/2);
	}

	.col-1-of-3 {
		width: calc((100% - 2*$gutterHorizontal)/3);
	}

	.col-2-of-3 {
		width: calc(2 * (100% - 2 * $gutterHorizontal)/3 + $gutterHorizontal );	
	}


	.col-1-of-4 {
		width: calc((100% - 3*$gutterHorizontal)/4);	
	}

	.col-2-of-4 {
		width: calc(2*(100% - 3*$gutterHorizontal)/4 + $gutterHorizontal);	
	}
	.col-3-of-4 {
		width: calc(100% - (100% - 3*$gutterHorizontal)/4 - $gutterHorizontal);	
	}

	.col-1-of-6 {
		width: calc((100% - 5*$gutterHorizontal)/6);
	}
	.col-2-of-6 {
		width: calc((100% - 5*$gutterHorizontal)/3 + $gutterHorizontal);
	}
	.col-3-of-6 {
		width: calc((100% - 5*$gutterHorizontal)/2 + 2*$gutterHorizontal);
	}
	.col-4-of-6 {
		width: calc(100% - ((100% - 5*$gutterHorizontal)/3 + 2 * $gutterHorizontal) );
	}
	.col-5-of-6 {
		width: calc(100% - (100% - 5*$gutterHorizontal)/6 - $gutterHorizontal );
	}
	.col-1-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/12);
	}
	.col-2-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/6 + $gutterHorizontal);	
	}

	.col-3-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/4 + 2*$gutterHorizontal);	
	}

	.col-4-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/3 + 3*$gutterHorizontal);	
	}

	.col-5-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/3 + (100% - 11*$gutterHorizontal)/12 + 4*$gutterHorizontal );	
	}

	.col-6-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + 5*$gutterHorizontal);	
	}

	.col-7-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + (100% - 11*$gutterHorizontal)/12 + 6*$gutterHorizontal ) ; 	
	}

	.col-8-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + 2*(100% - 11*$gutterHorizontal)/12 + 7*$gutterHorizontal ) ; 	
	}

	.col-9-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + 3*(100% - 11*$gutterHorizontal)/12 + 8*$gutterHorizontal ) ; 	
	}

	.col-10-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + 4*(100% - 11*$gutterHorizontal)/12 + 9*$gutterHorizontal ) ; 	
	}

	.col-11-of-12 {
		width: calc((100% - 11*$gutterHorizontal)/2 + 5*(100% - 11*$gutterHorizontal)/12 + 10*$gutterHorizontal ) ; 	
	}



	@mixin clearfix

}