@keyframes slideInFromLeft {
  0% {
    transform: translate(-100px, 50px) scale(0);

    opacity: 0;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translate(100px, 50px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100px) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}