.site-header {
	position: fixed;
	z-index: 5;
}
	.site-header__container {
		display: flex;
		justify-content: space-between;
	}
	@media (min-width: 800px) {.site-header {
		transition: all .5s ease-out
}
		.site-header--darker {
			background-color: rgba(1,39,75, .8);
		}}
	.site-header__logo {
		z-index: 35;
		transition: all 1.5s ease-out;
		margin: auto;
		width: 4.4rem;
	}
	@media (min-width: 800px) {
	.site-header__logo {
			margin-left: 3.4rem;
			margin-top: 3.4rem;
			left: 0;
			-webkit-transform-origin: 0 0;
			        transform-origin: 0 0
	}}
	.site-header__logo__graphic {
			text-indent: -9999px;
		}
	@media (min-width: 800px) {
	.site-header__logo--small {
				-webkit-transform: scale(1.124) translateX(0);
				        transform: scale(1.124) translateX(0)

		}}
	.site-header__logo--transparent {
			opacity: 0.5;
		}
	@media (min-width: 800px) {
	.site-header__logo--transparent {
				opacity: 1
		}}
	.site-header__menu-icon {
 		position: absolute; 
 		z-index: 20;
 		right: 10px;
 		top: 10px;
 		width: 19px;
 		height: 19px;
 	}
	@media (min-width: 800px) {
	.site-header__menu-icon {
 			display: none
 	}}
	.site-header__menu-icon::before {
 			content:"";
 			position: absolute;
 			top: 0;
 			left: 0;
 			width: 20px;
 			height:  3px;
 			background-color: #fff;
 			-webkit-transform-origin: 0% 0%;
 			        transform-origin: 0% 0%;
 			transition: -webkit-transform .3s ease-out;
 			transition: transform .3s ease-out;
 			transition: transform .3s ease-out, -webkit-transform .3s ease-out;

 		}
	.site-header__menu-icon__middle {
 			position: absolute;
 			top: 8px; 
 			left: 0;
 			width: 20px;
 			height:  3px;
 			background-color: #fff;
 			transition: all .3s ease-out;
 			-webkit-transform-origin: 0 50%;
 			        transform-origin: 0 50%;
 		}
	.site-header__menu-icon::after {
 			content: "";
 			position: absolute;
 			bottom: 0;
 			left: 0;
 			width: 20px;
 			height:  3px;
 			background-color: #fff;
 			-webkit-transform-origin: 0 100% ;
 			        transform-origin: 0 100% ;
 			transition: -webkit-transform .3s ease-out;
 			transition: transform .3s ease-out;
 			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
 		}
	.site-header__menu-icon--close-x::before{
 				-webkit-transform: rotate(45deg) scaleX(1.25);
 				        transform: rotate(45deg) scaleX(1.25);
 			}
	.site-header__menu-icon--close-x .site-header__menu-icon__middle {
 				opacity: 0;
 				-webkit-transform: scaleX(0);
 				        transform: scaleX(0);
 			}
	.site-header__menu-icon--close-x::after {
 				-webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
 				        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
 			}