.image-filter {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(
				to right bottom, 
				   rgba($lightGreen, 0.8), 
				   rgba($darkGreen, 0.8)); 
			z-index: 4;
		}