.large-hero {
	position: relative;
	overflow: hidden;
	height: 95vh;
	clip-path: polygon(0 0, 100% 0,100% 85vh, 0 100%);
	&__image {
		display: block;
	}

	

	&__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 32vh;
		left: 50%;
		transform: translateX(-50%);
		width: 562px;
		color: $mainWhite; 
		text-transform:uppercase;
		z-index: 5;

	}
	&__title { 
		font-weight: 400;
		display: block;
		width: 100%;
		font-size:  3.0rem;
		letter-spacing: 3.5rem;
		margin-bottom: 2rem;
		@mixin atSmall {
			animation: 2s easeOutBack 0s 1 slideInFromLeft;
			font-size:  5.4rem;
		} 
	} 
	&__sub-title { 
		font-weight: 700;
		display: block;
		font-size: 1.5rem;
		margin: 0;
		letter-spacing: 1.51rem;
		width: 100%;
		margin-bottom: 4rem;
		@mixin atSmall {
			animation: 2s easeOutBack 0s 1 slideInFromRight;
			font-size: 2.1rem;
			color: #ffffff;
		}
		
	}
	&__description { 
		color: white;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0,0,0,.1);
		max-width: 33rem;
		margin-left: auto;
		margin-right: auto;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&__button {
		text-align: center;
		animation: 1.25s easeOutBack .75s 1 slideInFromBottom backwards;
		
		a:link, a:visited{
			transition: all .2s;
			position: relative;
		}

		a:hover{
			transform: translateY(-3px);
			box-shadow: 0px 10px 20px rgba(0,0,0,.2);
		}

		a:active {
			transform: translateY(-1px);
			box-shadow: 0px 5px 10px rgba(0,0,0,.2);
		}

		a::after {
			content:"";
			display: inline-block;
			height: 100%;
			width: 100%;
			border-radius: inherit;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all .6s;
		}

		a:hover::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}

	}
}

