.navbar {
	opacity: 0;
	position: absolute;
	right: 0;
	background: rgba($mainBlue, .8); 
	font-size: 1rem;
	transition: opacity 1.3s ease-out;
	width: 100%;

	& * {
		pointer-events: none; 
	}

	@mixin atMedium {
		& * {
		pointer-events: auto;
	}
		width: auto;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background: none;
		position: static;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-left: 0;
		width: 100%;
		margin-bottom: auto;
		margin-top: 130px;
		@mixin atMedium {
			display: flex;
			align-items: center;
			margin-top: auto;
			width: auto;
			padding: 30px 0;
		}
		
	}
	&__item--highlight {
		position: absolute;
		width: 50%;
		top: 80px;
		transform: translateX(50%);
		text-align: center;
		@mixin atMedium {
			transform: translateX(0);
			position: static;
			display: block;
			width:auto;
		}

	}
	li {
		list-style: none;
		display: block;
		background-color: $mainBlue;
		padding: 0.5rem;
		margin-bottom: 1rem;
		text-align: center;
		@mixin atMedium {
			display: inline-block;
			margin-bottom: 0;
			width: auto;
			background: none;
		}
	}

	&__link-item {
		text-decoration: none;
		font-weight: 300;
		text-align: center;
		transition: all .5s ease-out ;
		&--orange {
			color: $mainOrange;
		}

		&--white {
			color: #fff;
		}

	}



	&__button1 {
		display: block;
		@mixin atMedium {
			display: inline;
		}
	}

	&--is-visible {
		opacity:1;
		display: flex;
	
		& * {
			pointer-events: auto
		}
	
		@mixin atMedium {
			display: flex;
			opacity:1;
			& * {
			pointer-events: auto
		}
		}
	}
	
	
}