.row {
	display: flex;
	flex-direction: column;
	

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atLarge {
		flex-direction: row;

		&--equal-heights-at-large {
			align-items: stretch;
		}

		&__b-margin-until-medium {
			margin-bottom: 0rem;
		}


		&--gutters > div {
			margin-right: 5rem;
			transform: translateX(2.5rem);
		}

		&--gutters-large > div {
			margin-right: 8rem;
			transform: translateX(4rem);
		}

		&--gutters-small > div {
			margin-right: 2rem;
			transform: translateX(1rem);
		}

		&__medium-2 {	
			width: 16.67%;
		}
		&__medium-3 {	
			width: 25%;
		}
		&__medium-4 {	
			width: 33.33%;
		}
		&__medium-8 {
			width: 66.66%; 
		}
		&__medium-9 {	
			width: 75%;
		}
		&__medium-10 {	
			width: 83.33%;
		}
		&__medium-6 {
			width: 50%;
		}
		&__medium-4--larger {
			width: 37%;
		}

		&__medium-8--smaller {
			width: 63%;
		}

	}
	
	@mixin atLarge {
		&__large-4 {
			width: 33.33%;
		}
	} 


	&--t-padding {
		padding-top: 80px;
	}

}