.row {
	display: flex;
	flex-direction: column;
	
	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {
		&__b-margin-until-medium {
			margin-bottom: 0rem;
		}
		&--gutters > div {
			padding-right: 5rem;
		}
		flex-direction: row;
		&__medium-4 {	
			width: 33.33%;
		}
		&__medium-8 {
			width: 66.66%; 
		}
		&__medium-4--larger {
			width: 37%;
		}

		&__medium-8--smaller {
			width: 63%;
		}		
	} 
}