.site-header {
	width: 100%;
	position: absolute;
	top: 0; 
	z-index: 5;
	background-color: rgba($mainBlue, .3);


	&__logo {
		position: absolute;
		top:0;

		transform: scale(1.2);
		transform-origin: 0 0;
		&__graphic {
			text-indent: -9999px;
		}
	}
}