
html {
	font-size: 10px;
}
body {
	font-family:'Roboto', 'sans-serif';
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #cf8836;
}
.clearfix::after {
	display:table;
	content:"";
	clear:both;
}

