.testimonial {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0 1.875rem 1px 1.875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	overflow: visible;
	margin-bottom: 98px;

	
}



	.testimonial--last {
		margin-bottom: 0;
	}



	@media (min-width: 1010px) {.testimonial {
		margin-bottom: 0

	
}}



	.testimonial__image {
		text-align: center;
		border-radius: 50%;
		overflow: hidden;
		line-height: 0;
		border: 6px solid rgba(255,255,255,0.8);
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		margin-bottom: -80px;

	}



	@media (min-width: 800px) {



	.testimonial__image {
			-webkit-transform: translateY(-50%);
			        transform: translateY(-50%);
			margin-bottom: -80px

	}}



	.testimonial__title {
		text-align: center;
		color: #2a4b6a;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0rem auto 0.1rem auto;

		line-height: 0.8rem;
	}



	.testimonial__subtitle {
		text-align: center;
		color: #cf8836;
		font-size: .75rem;
		margin: 0.5rem auto 0.1rem auto;
		line-height: 0.8rem;
		font-weight: 400;
	}